/* Style général */

/* Réinitialisation des marges et des paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Police par défaut */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Barre de recherche */
.search-bar {
    text-align: center;
    margin: 20px auto;
}

.search-input {
    padding: 12px;
    width: 60%;
    font-size: 16px;
    border-radius: 20px;
    border: 2px solid #ccc;
}

/* Carte d'élément */
.card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    cursor: pointer;
    width: 20%;
    background-color: #fff;
    transition: transform 0.3s, box-shadow 0.3s;
    display: inline-block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.card-info {
    font-size: 14px;
    color: #666;
}

/* Fiche personnelle */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    justify-content: center;
    align-items: center;
}

.personal-details {
    display: flex;
    align-items: center;
}

.personal-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.personal-info {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    max-width: 600px;
    text-align: left;
    color: #333;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: #333;
    font-size: 20px;
}
